@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
}

#outside {
    background-color: rgb(68, 70, 71);
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 70%;
    /* To see the limits of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    
}
#survey-form {
    background-color: white;
}

fieldset { 
    border:1px solid lightgray;
    margin: 10px;
}

legend {
    font-weight: 700;
}

#number {
    width: 150px;
}

div + div {
    margin-top: 1em;
    }

/* label {
    /* To make sure that all label have the same size and are properly align */
    /* display: inline-block; */
    /* width: 80px; */
    /* text-align: right; */
}


input, textarea {
    /* To make sure that all text field have the same font settings
       By default, textarea are set with a monospace font */
    /* font: 1em sans-serif; */

    /* To give the same size to all text field */
    width: 200px;

/*   -moz-box-sizing: border-box;
         box-sizing: border-box; */

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* To give a little highligh on active elements */
    border-color: OrangeRed;
}

textarea {
    /* To properly align multiline text field with their label */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any text area vertically
       It works only on Chrome, Firefox and Safari */
    resize: vertical;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
}

button {
    margin: .5em;
    font-size: 1em;
    text-transform: capitalize;
    background-color: rgb(4, 103, 201);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;
    
}
#description {
    font-size: 14px;
}
#submitbutton {
    display: flex; 
    justify-content: center;
}

/*different button animation*/

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    background-color: rgba(2, 15, 117, 0.197);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  